[submodule "enyo"]
	path = enyo
	url = https://github.com/enyojs/enyo.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "lib/layout"]
	path = lib/layout
	url = https://github.com/enyojs/layout.git
[submodule "lib/scoreit-api"]
	path = lib/scoreit-api
	url = https://MaKleSoft@github.com/Engaginglab/scoreit-js-client.git
