body {
	font-family: Asap, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	background-image: url(../../assets/images/light_wool.png);
	text-align: center;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body > * {
	text-align: left;
}

.scoreit-header-big {
	background: url(../../assets/images/logo_big.png) no-repeat center center;
	height: 130px;
	text-align: left;
	padding: 10px;
}

.header-font {
	font-family: 'Signika Negative';
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.popup-padded {
	padding: 10px;
}

.popup-padded * {
	margin: 5px;
}

.scoreit-app {
	margin: 0px auto;
	padding: 0;
}

.item-checkmark {
	width: 24px;
	height: 24px;
	background: url(../../assets/images/check.png) no-repeat center center;
	float: right;
	margin: 0 5px;
}

/*
.date-picker-row > * {
	display: inline-block;
	margin-left: 10px;
}

.date-picker-row .onyx-button {
}
*/

.scoreit-form {
	box-sizing: border-box;
}

.scoreit-form > .onyx-input-decorator,
.scoreit-form > .onyx-picker-decorator > .onyx-button,
.scoreit-form > .filteredselector,
.scoreit-form > .onyx-groupbox {
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 5px 0;
}

.time-picker-row {
	margin: 5px 0;
}

.time-picker-row > * {
	display: inline-block;
	margin: 0 3px;
}

.time-picker-label {
	margin: 0 10px;
}

.notification-popup {
	padding: 20px;
	font-size: 18pt;
}