.clubview .onyx-item.unconfirmed,
.teamview .onyx-item.unconfirmed {
	background-color: Orange;
}

.clubview .onyx-item .confirm-button,
.teamview .onyx-item .confirm-button {
	display: none;
}

.clubview .onyx-item.unconfirmed .confirm-button,
.teamview .onyx-item.unconfirmed .confirm-button {
	display: block;
}