.filtered-selector {
	text-align: left;
	padding: 5px 5px 5px 10px;
	font-size: inherit;
}

.filtered-selector-value {
	line-height: 20px;
}

.filtered-selector-arrow {
	float: right;
	margin-left: 7px;
	width: 21px;
	height: 21px;
	background: url(../../assets/images/menu-arrow.png) no-repeat center center;
}