.filteredselector {
	text-align: left;
	font-size: inherit;
	min-height: 40px;
}

.filteredselector-value {
	line-height: 20px;
}

.filteredselector-popup {
	padding: 3px;
	top: auto;
	left: auto;
}

/*
.filteredselector-arrow {
	float: right;
	margin-left: 7px;
	width: 21px;
	height: 21px;
	background: url(../../assets/images/menu-arrow.png) no-repeat center center;
}

.filteredselector-item.selected {
	background-color: Gray;
}
*/