.formfield-checkmark {
	width: 24px;
	height: 24px;
	background: url(../../assets/images/check.png) no-repeat center center;
	margin: 0 5px;
	display: none;
}

.formfield-valid .formfield-checkmark {
	display: inline;
}

.formfield-invalid .onyx-input-decorator {
	background-color: Red;
}

.formfield-required .label {
	font-weight: bold;
}

.formfield-errormessage {
	display: block;
	width: 100%;
	color: red;
}