.frontmatter-content {
	box-sizing: border-box;
	margin: 0 auto;
	background: url(../../assets/images/player_red.png) no-repeat left 50px;
	background-size: 400px;
	padding: 30px;
	position: relative;
	width: 850px;
	height: 450px;
}