.textfieldselector {
}

.textfieldselector-repeater {
	display: inline-block;
}

.textfieldselector-item {
	border-radius: 5px;
	background-color: #CDE7FE;
	display: inline-block;
	padding: 5px;
	margin: 2px;
	border: solid 1px #ddd;
}

.textfieldselector-item-label {
	display: inline;
}

.textfieldselector-removebutton {
	display: inline;
	border-radius: 3px;
	margin: 0 0 0 5px;
	padding: 0 5px;
	box-sizing: border-box;
}

.textfieldselector-removebutton.active {
	color: #CDE7FE;
	background-color: White;
}

.textfieldselector-removebutton:active:hover {
	color: #CDE7FE;
	background-color: White;
}

/*
.textfieldselector-popup {
	border-radius: 5px;
	background-color: White;
	border: solid 1px Gray;
	color: inherit;
}

.textfieldselector-listitem {

}

.textfieldselector-listitem.selected {
	background-color: Gray;
}
*/