.scoreit .onyx-button:not(.onyx-affirmative):not(.onyx-negative),
.scoreit .onyx-radiobutton:not(.active) {
	background-color: Transparent;
}

.scoreit .onyx-item > .onyx-button {
	font-size: 10pt;
	margin: -4px 2px;
}

.scoreit .onyx-groupbox-header {
	font-family: Asap;
	font-weight: normal;
	background-color: #C51616;
	color: #F1F1F1;
}

.onyx-input-decorator.input-fill > input,
.onyx-input-decorator.input-fill > .enyo-richtext {
    width: 100%;
}

.onyx-input-decorator.input-fill > .label {
    position: absolute;
    right: 10px;
}

.label {
	color: rgb(0, 200, 255);
	float: right;
	padding: 2px;
}

.onyx-groupbox > .select-decorator {
	display: block;
}

.rounded-input {
	border-radius: 20px;
}

.scoreit .onyx-popup {
	background-color: #e1e1e1;
	color: inherit;
}

.onyx-input-decorator.always-focused {
	box-shadow: inset 0px 1px 4px rgba(0,0,0,0.3);
	border-color: rgba(0,0,0,0.3);
	background-color: white;
}

.scoreit .onyx-item.selected,
.scoreit .onyx-menu-item.selected,
.scoreit .onyx-menu-item:hover,
.scoreit .onyx-highlight {
	background-color: #BDE515;
}

.scoreit .onyx-item {
	border: solid 1px #bbb;
	border-radius: 3px;
	margin: 3px 0;
	/*box-shadow: 2px 2px 2px #000000;*/
}

/*.scoreit .onyx-item.onyx-last {
	border: none;
}*/

.scoreit .onyx-item.active {
	background-color: #BDE515;
}

.scoreit .onyx-item:active:hover:not([disabled]) {
	background-color: #BDE515;
}

.scoreit .page-header {
	font-size: 25pt;
	font-variant: small-caps;
	padding: 20px;
}

.scoreit .section-header {
	font-size: 20pt;
	font-variant: small-caps;
	padding: 10px;
}

.align-right {
	float: right;
}